<app-toolbar></app-toolbar>

  <div class="main-content"> 
<mat-card>
  <div class="image-div">
    <img [src]= user.imageUrl alt="" class="user-image">
  </div>
  <div class="card-title">
    <mat-card-title>Hello @{{user.username}}</mat-card-title>
  </div>
  <mat-card-content>
    <div class="form-div">
      <form [formGroup]="tweetForm">
        <mat-form-field appearance="outline">
          <textarea formControlName="text" 
          matInput 
          cdkTextareaAutosize 
          #autosize="cdkTextareaAutosize"
           cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
           placeholder="What's happening?"></textarea>
        </mat-form-field>
        <div class="btn"> 
          <button mat-raised-button color="primary" (click)="createTweet()">Tweet</button> 
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
  </div>


  <div class="tweet-wrap" *ngFor="let tweet of tweets">
    <div class="tweet-header">
      <img [src]="tweet.user.imageUrl" alt="User picture" class="avator">
      <div class="tweet-header-info">
        {{tweet.user.username}} <span>@{{tweet.user.username}}</span><span> {{ tweet.createdAt | date: 'medium'}}</span>
        <div class="tweet-btn">
          <button *ngIf="tweet.user.username === user.username" class="edit-tweet-btn" mat-raised-button color="accent" (click)="toggleEditTweet()">Edit</button>
        </div>
        <div class="delete-btn">
          <button *ngIf="tweet.user.username === user.username" class="delete-tweet-btn" mat-raised-button color="warn" (click)="deleteTweet()">Delete</button>
        </div>
        <div *ngIf="toggleEditTweetButton">
          <form [formGroup]="tweetForm">
            <mat-form-field appearance="outline">
              <textarea formControlName="text" 
                matInput 
                cdkTextareaAutosize 
                #autosize="cdkTextareaAutosize"
                 cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                 placeholder="Edit your tweet ..."></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="updateTweet()">Save Changes</button>
          </form>
        </div>
        <p>{{tweet.message}}</p>
      </div>
    </div>
    <div class="tweet-info-counts">
      <div class="comments">
        <i class="fa fa-comments" aria-hidden="true" (click)="toggleComment()" routerLink="/tweet/{{tweet.id}}/comment"></i>
        <span  class="comment-count">{{tweet.comments.length}}</span>
        <div>
          <div class="form-div" *ngIf="showComment">
            <form [formGroup]="commentForm">
              <mat-form-field appearance="outline">
                <textarea  formControlName="text" 
                matInput 
                cdkTextareaAutosize 
                #autosize="cdkTextareaAutosize"
                 cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
                 placeholder="Type your comment ..."></textarea>
              </mat-form-field>
              </form>
              <div class="btn">
                <button mat-raised-button color="primary" (click)="createComment()">Comment</button>
              </div>
              
              </div>
        </div>
      </div>
      
      <div class="retweets">
        <i class="fa fa-share" aria-hidden="true" (click)="shareTweet(user)"></i>
        <div class="retweet-count">{{tweet.sharedBy.length}}</div> 
      </div>
      
      <div class="likes">
        <div *ngIf="!isTweetLiked">
          <i class="fa fa-heart-o" (click)="likeTweet(tweet.id)" ></i>
        </div>
        <div *ngIf="isTweetLiked">
          <i class="fa fa-heart" (click)="unlikeTweet(tweet.id)"></i>
        </div>

        
        <div class="likes-count">
          {{tweet.tweetLikes}}
        </div>


      </div>
      
  </div>

  <div class="comments-div" *ngIf="showComment">
    <div *ngFor="let comment of comments">
      <img [src]="comment.user.imageUrl" class="user-image"> <b>@{{comment.user.username}}</b>
      <span class="comment-createdAt">{{comment.isEdited ? comment.createdAt  : comment.updatedAt | date:'medium'}}</span>
        <mat-icon class="edit-icon" *ngIf="comment.user.username === user.username" (click)="toggleEdit()" >edit</mat-icon>
        <mat-icon class="delete-icon" *ngIf="comment.user.username === user.username" (click)="deleteComment(comment.id)" >delete</mat-icon>
        <span *ngIf="!isCommentLiked">
          <i class="fa fa-thumbs-o-up" (click)="likeComment(comment.id)"></i>
        </span>
        <span *ngIf="isCommentLiked">
          <i class="fa fa-thumbs-up" (click)="unlikeComment(comment.id)"></i>
        </span>
       

      <span *ngIf="comment.isEdited === true">(Edited)</span>
      <div class="comment-paragraph-div">
        <p class="comment-p">{{comment.text}}</p>
      </div>
      
      <div class="form-div" *ngIf="edit">
        <form [formGroup]="commentForm">
          <mat-form-field appearance="outline">
            <textarea formControlName="text" 
            matInput 
            cdkTextareaAutosize 
            #autosize="cdkTextareaAutosize"
             cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" 
             placeholder="Edit your comment ..." ></textarea>
          </mat-form-field>
        </form>
          <div class="btn">
            <button mat-raised-button color="primary" (click)="updateComment(comment.id)">Edit Comment</button>
          </div>
          </div>
    </div>
   </div>
  </div> 
