<app-toolbar></app-toolbar>

<h3>Enter your email to reset your password </h3>
<form method="post" [formGroup]="resetPasswordEmail">
<div>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Enter your email..."
        formControlName="email"
       autofocus
      />
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error
        *ngIf="passwordEmail?.['email'].invalid && passwordEmail?.['email'].errors?.['required']"
        >Email field is required</mat-error
      >
      <mat-error *ngIf="passwordEmail?.['email'].errors?.['email']"
        >Not a valid email address</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit" color="warn" (click)="submitEmail()">Submit</button>
  </div>
</form>