<app-toolbar></app-toolbar>


<h2>Complete the following fields to reset your password</h2>

<div class="content">
    <form method="post" [formGroup]="savePasswordForm">
        <div class="form-control">
        <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input type="password" matInput required placeholder="Enter your old password..." autofocus formControlName="oldPassword">
            <mat-error *ngIf="field?.['oldPassword'].errors?.['required']">Old password is required</mat-error>
            <mat-error *ngIf="field?.['oldPassword'].invalid">Invalid password</mat-error>
        </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="password" matInput required placeholder="Enter your new password..." formControlName="newPassword">
            <mat-error *ngIf="field?.['newPassword'].errors?.['required']">New password is required</mat-error>
            <mat-error *ngIf="field?.['newPassword'].invalid ">Invalid password</mat-error>
        </mat-form-field>
    </div>
    <div class="form-control">
        <button mat-raised-button color="warn" (click)="savePassword()">CHANGE PASSWORD</button>
    </div>
    </form>
</div>
