.form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}


mat-form-field{
    width: 25%;
}