<app-toolbar></app-toolbar>


<h2>Complete the following fields to change your password</h2>

<div class="content">
    <form method="post" [formGroup]="changePassForm">
        <div class="form-control">
            <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input [type]="hide ? 'text' : 'password'" matInput required placeholder="Enter your old password..." formControlName="oldPassword">
                <mat-error *ngIf="field?.['oldPassword'].errors?.['required'] && field?.['oldPassword'].invalid">You must enter your old password</mat-error>
                <mat-error *ngIf="field?.['oldPassword'].errors?.['minlength'] || field?.['oldPassword'].errors?.['maxlength']">Your old password has to be between {{minlength}} and {{maxlength}} characters</mat-error>
            </mat-form-field>
        </div>
        <div class="form-control">
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input [type]="hide ? 'text' : 'password'" matInput required placeholder="Enter your new password..." formControlName="newPassword">
            <mat-icon class="password-icon" matSuffix (click)="hide = !hide">{{
                hide ? "visibility" : "visibility_off"
              }}</mat-icon>
            <mat-error *ngIf="field?.['newPassword'].errors?.['required'] && field?.['newPassword'].invalid">You must enter a new password</mat-error>
            <mat-error *ngIf="field?.['newPassword'].errors?.['minlength'] || field?.['newPassword'].errors?.['maxlength']">Password must be between {{minlength}} and {{maxlength}} characters</mat-error>
        </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field appearance="outline">
            <mat-label>Confirm New Password</mat-label>
            <input [type]="hide ? 'text' : 'password'" matInput required placeholder="Confirm your new password..." formControlName="confirmNewPassword">
            <mat-error *ngIf="field?.['confirmNewPassword'].errors?.['required'] && field?.['confirmNewPassword'].invalid">Confirming your new password is required</mat-error>
            <mat-error *ngIf="field?.['confirmNewPassword'].errors?.['mustMatch']">Passwords do not match</mat-error>
        </mat-form-field>
    </div>
    <div class="form-control">
        <button mat-raised-button color="warn" (click)="changePassword()" [disabled]="changePassForm.invalid">CHANGE PASSWORD</button>
    </div>
    </form>
</div>