

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Twitter</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <ng-container>
            <img class="twitter" src="assets/twitter.png" alt="">
        </ng-container>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <mat-nav-list>
      
            <a mat-list-item [routerLink]="'/register'"><mat-icon>person_add</mat-icon>Register</a>
            <a mat-list-item [routerLink]="'/login'"> <mat-icon>person</mat-icon> Login</a>
            <a mat-list-item (click)="sidenav.toggle()"> Close</a>
      
          </mat-nav-list>
        </mat-sidenav>

<div class="content">
    <p>Please check your email inbox and activate your account before proceeding to log in!
         <a class="login" routerLink="/login">Login here</a>
        </p>

</div>